#show-task{
  display: none;
}

.display {
  cursor: pointer;
  color: #0088cc;
}

.display:hover {
  text-decoration: underline;
}

h1{
  text-align: center;
}

.well{
  margin-top: 50px;
  border: 1px solid black;
}

#task-list{
  display: none;
}

body{

  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  background-color: white;
  font-size: 120px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: cursive;
  padding: 20px;
}
